<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//PHPLUG//DTD PLUGIN 1.0 DEFAULT//EN" "http://phplug.org/demo/PHPlug/dtd/plugin.dtd">
<plugin id="phplug_ui_widgets" version="1.0.0" class="phplug\plugins\phplug_ui_widgets\WidgetPlugin">
	
	<dependencies>
		<dependency id="phplug_ui"/>
		<dependency id="phplug_ui_processor"/>
	</dependencies>
	
</plugin>